$header-background-color: rgb(255, 255, 255);
$user-avatar-color: rgb(248,153,28);
$menu-items-hover-block-color: rgba(165, 160, 160, .1);
$menu-items-text-disabled-color: rgb(165, 160, 160);
$menu-items-text-color: rgb(0, 0, 0);
$menu-background-color: rgb(255, 255, 255);

$header-height: 70px;
$padding: 100px;
$menu-width: 200px;

header {
    background-color: $header-background-color;
    height: $header-height;
    width: 100%;
    position: fixed;
    z-index: 4;

    transition: 1s ease-in-out;
    animation: show 1.5s 1;
    animation-fill-mode: forwards;
    @keyframes show {
        0%{
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $padding;
        
        height: 100%;
        width: 100%;

        img {
            max-height: $header-height*.6;
        }

        .right-side {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .notification-bell {
                opacity: .7;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }

            .avatar-circle {
                width: $header-height * .6;
                height: $header-height * .6;
                background-color: $user-avatar-color;
                text-align: center;
                border-radius: 50%;
    
                .user-initials {
                    position: relative;
                    top: $header-height * .6 * .25;
                    font-size: $header-height * .6 * .5;
                    line-height: $header-height * .6 * .5;
                    color: $header-background-color;
                    font-weight: bold;
                    font-family: "Arial", monospace;
                }
            }

            .menuToggle {
                display: block;
                position: relative;
    
                a {
                    display: block;
                    text-decoration: none;
                    color: $menu-items-text-color;
                    transition: color 0.3s ease;
                }
    
                input {
                    display: block;
                    width: $header-height * .6;
                    height: $header-height * .6;
                    position: absolute;
                    top: -7px;
                    left: -5px;
                    cursor: pointer;
                    opacity: 0;
                    z-index: 2;
                }
    
                .user-menu {
                    position: absolute;
                    right: 0;
                    width: $menu-width;
                    margin: $menu-width*.15 0;
                    padding: $menu-width*.05;
                    list-style-type: none;
                    background-color: $menu-background-color;
                    box-shadow: 0 0 5px -1px grey;
                    opacity: 1;
    
                    transform-origin: 0 0;
                    transition: .5s ease-in-out;
                    transform: scaleY(0);
    
                    li {
                        padding: 10px;
                        font-size: 18px;
                        text-align: left;
                        &:first-child {
                            border-bottom: 1px solid $menu-items-text-disabled-color;
                            text-align: center;
                            color: $menu-items-text-disabled-color;
                        }
                        &:not(:first-child):hover {
                            background-color: $menu-items-hover-block-color;
                        }
                    }
                }
    
                input:checked ~ ul{
                    transform: none;
                }
            }
        }
    }
}
