$error-color: rgba(203, 96, 89, .9);
$success-color: rgba(117, 181, 117, .9);
$text-color: rgb(250, 250, 250);

$img-width: 40px;
$padding: 10px;

.notification-container {
    box-sizing: border-box;
    position: fixed;
    bottom: $padding;
    right: $padding;
    width: 250px;

    .notification {
        border-radius: 10px;
        font-size: 1em;
        padding: $padding;
        line-height: 20px;
        margin-bottom: $padding*1.5;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .text-info {
            width: 100%;
            height: 100%;
        }

        h4, p {
            line-height: .3em;
            color: $text-color;
        }
        .icon {
            padding: $padding;
            img{
                width: $img-width;
            }
        }
    }
    .error {
        background-color: $error-color;
    }
    .success {
        background-color: $success-color;
    }

    .hide {
        display: none;
    }
}

