$php-tile-color: rgb(136, 147, 191);
$js-tile-color: rgb(247, 191, 105);
$qa-tile-color: rgb(73, 184, 109);
$dotnet-tile-color: rgb(100, 32, 119);
$java-tile-color: rgb(225, 43, 76);
$events-tile-color: rgb(46, 153, 254);
$blog-tile-color: rgb(3, 67, 163);
$contacts-tile-color: rgb(0, 37, 94);
$button-join-color: rgb(5, 59, 139);
$button-text-color: rgb(250, 250, 250);
$tile-text-color: rgb(250, 250, 250);
$tile-background-color: rgb(250, 250, 250);

$height-header: 160px;
$height-footer: 30px;
$padding-page: 100px;
$padding-button: 10px;
$padding-tile-text: 20px;
$rows-count: 8;
$height-rows: (100vh - 20)/$rows-count;

@mixin backTileStyle($fontWeight) {
    display: grid;
    background-color: $tile-background-color;
    p {
        padding: $padding-tile-text/2.5 $padding-tile-text;
        font-weight: $fontWeight;
        z-index: -1;
        @if $fontWeight == bold {
            font-size: 1em;
            padding: $padding-tile-text/2 $padding-tile-text;
        }
        @else {
            font-size: .8em;
            padding: $padding-tile-text/4 $padding-tile-text/4;
        }
        justify-self: start;
        align-self: start;
    }
}
@mixin tilePosition {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 1s;
}
@mixin scroll($tile-color) {
    overflow-x:hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: $tile-background-color;
    }
    &::-webkit-scrollbar {
        width: .5em;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $tile-color;
        background-image: -webkit-gradient(
                            linear,
                            30% 0%, 90% 90%,
                            from($tile-color),
                            to($tile-color),
                            color-stop(.5, white));
    }
}
.article-container {
    position: relative;
    top: $height-header;
    margin-bottom: $height-footer;
    height: calc(100vh - $height-header - $height-footer);
    padding: 0 $padding-page;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, $height-rows);

    & article:first-child { //logo
        grid-column: 1/3;
        grid-row: 1/5;

        .company-logo-article-front {
            background-image: url("../images/dest/logo2.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            @include tilePosition();
        }
        .company-logo-article-back {
            display: grid;
            @include tilePosition();

            button {
                justify-self: center;
                align-self: center;

                background-color: $button-join-color;
                padding: $padding-button $padding-button*3;
                border-radius: 5px;
                cursor: pointer;
                color: $button-text-color;
                font-size: 1.5em;
            }
        }
    }
    & article:nth-child(2) { //js
        grid-column: 3/5;
        grid-row: 1/7;

        .js-article-front {
            background-color: $js-tile-color;
            display: grid;
            @include tilePosition();

            span {
                font-weight: bold;
                font-size: 5em;
                text-transform: uppercase;
                justify-self: end;
                align-self: end;
            }
        }
        .js-article-back {
            @include backTileStyle(bold);
            @include tilePosition();
        }
    }
    & article:nth-child(3) { //php
        grid-column: 5/8;
        grid-row: 1/4;

        .php-article-front {
            background-color: $php-tile-color;
            display: grid;
            @include tilePosition();

            span {
                font-style: italic;
                font-size: 4.5em;
                justify-self: center;
                align-self: center;
            }

            transform-origin: top right;
        }

        .php-article-back {
            @include backTileStyle(bold);
            @include tilePosition();
            z-index: -1;
        }
    }

    & article:nth-child(4) { //qa
        grid-column: 1/3;
        grid-row: 5/9;

        .qa-article-front {
            background-color: $qa-tile-color;
            display: grid;
            @include tilePosition();

            span {
                font-size: 4.5em;
                color: $tile-text-color;
                text-transform: uppercase;
                justify-self: center;
                align-self: center;
            }
        }

        .qa-article-back {
            @include backTileStyle(bold);
            @include tilePosition();
        }
    }
    & article:nth-child(5) { //java
         grid-column: 3/5;
         grid-row: 7/9;

         .java-article-front {
            background-color: $java-tile-color;
            display: grid;
            @include tilePosition();

            span {
                font-size: 4em;
                color: $tile-text-color;
                justify-self: center;
                align-self: center;
            }

            transform-origin: bottom;
        }

        .java-article-back {
            @include backTileStyle(bold);
            @include tilePosition();
            z-index: -1;
        }
    }
    & article:nth-child(6) { // .net
        grid-column: 5/7;
        grid-row: 4/9;

        .dot-net-article-front {
            background-color: $dotnet-tile-color;
            display: grid;
            @include tilePosition();

            span {
                text-transform: uppercase;
                font-size: 5.5em;
                color: $tile-text-color;
                justify-self: center;
                align-self: center;
            }

            transform-origin: bottom right;
        }

        .dot-net-article-back {
            @include backTileStyle(bold);
            @include tilePosition();
            z-index: -1;
        }
    }
    & article:nth-child(7) { // events
        grid-column: 7/8;
        grid-row: 4/6;

        .events-article-front {
            background-color: $events-tile-color;
            display: grid;
            @include tilePosition();

            span {
                font-size: 1em;
                color: $tile-text-color;
                justify-self: center;
                align-self: center;
            }

            transform-origin: right;
        }
        .events-article-back {
            @include backTileStyle(normal);
            @include tilePosition();
            z-index: -1;
            @include scroll($events-tile-color);
        }
    }
    & article:nth-child(8) { // blog
        grid-column: 7/8;
        grid-row: 6/8;

        .blog-article-front {
            background-color: $blog-tile-color;
            display: grid;
            @include tilePosition();

            span {
                font-size: 1em;
                color: $tile-text-color;
                justify-self: center;
                align-self: center;
            }

            transform-origin: right;
        }
        .blog-article-back {
            @include backTileStyle(normal);
            @include tilePosition();
            @include scroll($blog-tile-color);
            z-index: -1;
        }
    }
    & article:nth-child(9) { // contacts
        grid-column: 7/8;
        grid-row: 8/9;

        .contacts-article-front {
            background-color: $contacts-tile-color;
            display: grid;
            @include tilePosition();

            span {
                font-size: 1em;
                color: $tile-text-color;
                justify-self: center;
                align-self: center;
            }

            transform-origin: right;
        }
        .contacts-article-back {
            margin: 0;
            padding: 5% 10%;

            .social-media-list {
                display: flex;
                list-style-type: none;
                padding: 0;
                margin: 0;
                height: auto;
                width: auto;
                
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        font-size: 2em;
                        line-height: 1.2em;
                        padding: 5px;

                        img:hover {
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }

    img {
        width: 100%;
    }
}
.tile{
    transform-style: preserve-3d;
    position: relative;
}

.company-logo-article-back,
.js-article-back,
.qa-article-back {
    transform: rotate3d(0,1,0, 180deg);
}
.tile:hover .company-logo-article-front,
.tile:hover .js-article-front,
.tile:hover .qa-article-front {
    transform: rotate3d(0,1,0, 180deg);
}
.tile:hover .company-logo-article-back,
.tile:hover .js-article-back,
.tile:hover .qa-article-back {
    transform: rotate3d(0,1,0, 0deg);
}

.backface {
    .company-logo-article-front,
    .company-logo-article-back,
    .js-article-front,
    .js-article-back,
    .qa-article-front,
    .qa-article-back {
        backface-visibility: hidden;
    }
}

.tile:hover .blog-article-front,
.tile:hover .events-article-front,
.tile:hover .contacts-article-front {
    transform: scaleX(0);
}
.tile:hover .blog-article-back,
.tile:hover .events-article-back,
.tile:hover .contacts-article-back {
    transform: scaleX(1);
}

.tile:hover .java-article-front {
    transform: scaleY(0);
}
.tile:hover .java-article-back {
    transform: scaleY(1);
}

.tile:hover .php-article-front,
.tile:hover .dot-net-article-front {
    transform: scale(0);
}
.tile:hover .php-article-back,
.tile:hover .dot-net-article-back {
    transform: scale(1);
}


