$body-background-color: rgb(248, 249, 252);
$footer-padding: 10px;
$footer-height: 25px;
$media-font-size: 2.5em;

@import "header";
@import "tiles-section";
@import "notifications";

@font-face {
    font-family: arimo;
    src: url('../fonts/Arimo/Arimo-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background-color: $body-background-color;
    margin: 0;
    height: 100%;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: $footer-height;

    text-align: center;
    padding: $footer-padding 0;
    z-index: -5;
}

@media all and (max-width: 850px) {
    .article-container {
        height: 90vh;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(9, $height-rows);
        & article:first-child { //logo
            grid-column: 1/3;
            grid-row: 1/6;
        }
        & article:nth-child(2) { //js
            grid-column: 3/5;
            grid-row: 1/6;
            .js-article-front span { 
                font-size: $media-font-size;
            }
        }
        & article:nth-child(3) { //php
            grid-column: 5/7;
            grid-row: 6/8;
            .php-article-front span {
                font-size: $media-font-size;
            }
        }
        & article:nth-child(4) { //qa
            grid-column: 1/5;
            grid-row: 8/10;
            .qa-article-front span {
                font-size: $media-font-size;
            }
        }
        & article:nth-child(5) { //java
            grid-column: 1/5;
            grid-row: 6/8;
            .java-article-front span { 
                font-size: $media-font-size;
            }
        }
        & article:nth-child(6) { // .net
            grid-column: 5/7;
            grid-row: 8/10;
            .dot-net-article-front span { 
                font-size: $media-font-size;
            }
        }
        & article:nth-child(7) { // events
            grid-column: 5/7;
            grid-row: 1/3;
        }
        & article:nth-child(8) { // blog
            grid-column: 5/7;
            grid-row: 3/5;
        }
        & article:nth-child(9) { // contacts
            grid-column: 5/7;
            grid-row: 5/6;
        }
    }
}
